# Intensity distribution

In this notebook we conduct measurements with the photodiode and different constellations of the acousto-optic deflectors.

Thorlabs photodiode is set to 50dB.

In [1]:
import control

control.aom()
control.aod_h(frequency=100e6)
control.aod_v(frequency=100e6)

scope = control.MSOX6004A('172.22.22.30')
scope.holla()

'AGILENT TECHNOLOGIES,MSO-X 4054A,MY57310545,07.20.2017102615\n'

We will do multiple runs at different amplitudes. The following function will merge these runs into a single data frame with one time scale but different voltages for the different amplitude levels.

In [17]:
datadir = '../../dataset/intensity'

os.makedirs(datadir, exist_ok=True)

def data_to_hdf(filename, fieldname, data):
    df = pd.DataFrame({'time': data[0][1]['time'], **{f'voltage@{d[0]:.2f}': d[1]['voltage'] for d in data}})
    df.to_hdf(filename, fieldname, complevel=9)
    
    return df

## Unpaired

The unpaired measurements consider the constellation of only one single AOD mounted at a time.

### Horizontal AOD

We start with the AOD element anticipated to be in the horizontal slot.

#### Horizontal Slot

In the first run we will remove the vertical AOD element. The horizontal AOD element remains in the horizontal slot. We optimize incident beam angle for maximum first diffraction order intensity at 100 MHz and check beam alignment through the setup.

In [21]:
data = []

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[90e6, 110e6], duration=26.84e-3, amplitude=A, nodwells=[False, True])

    data.append((A, scope.capture()))

data_to_hdf(os.path.join(datadir, 'unpaired-amplitude.h5'), 'horizontal_element_horizontal_socket', data).head(5)

KeyboardInterrupt:

#### Vertical Slot

We extract the horizontal AOD element from the horizontal slot and insert it into the vertical slot. We again optimize for 
maximum first order intensity and check beam alignment.

In [81]:
data = []

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[90e6, 110e6], duration=26.84e-3, amplitude=A*np.ones(1024), nodwells=[False, True])

    data.append((A, scope.capture()))

data_to_hdf(os.path.join(datadir, 'unpaired-amplitude.h5'), 'horizontal_element_vertical_socket', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.000394,0.066046,0.084456,0.102866,0.102866,0.102866,0.102866,0.139686,0.139686,0.139686,...,0.434247,0.434247,0.434247,0.452657,0.452657,0.452657,0.489477,0.471067,0.452657,0.489477
1,-0.000393,0.084456,0.066046,0.102866,0.084456,0.139686,0.102866,0.139686,0.158096,0.139686,...,0.434247,0.397427,0.452657,0.434247,0.434247,0.452657,0.452657,0.471067,0.489477,0.471067
2,-0.000393,0.066046,0.084456,0.102866,0.084456,0.084456,0.121276,0.102866,0.121276,0.176506,...,0.434247,0.452657,0.434247,0.452657,0.471067,0.452657,0.452657,0.471067,0.471067,0.489477
3,-0.000392,0.066046,0.102866,0.066046,0.084456,0.066046,0.121276,0.121276,0.121276,0.158096,...,0.434247,0.452657,0.452657,0.434247,0.452657,0.471067,0.452657,0.471067,0.471067,0.489477
4,-0.000392,0.084456,0.066046,0.084456,0.102866,0.084456,0.139686,0.139686,0.139686,0.102866,...,0.434247,0.434247,0.452657,0.434247,0.434247,0.434247,0.434247,0.471067,0.471067,0.489477

### Vertical AOD

Now we remove the horizontal AOD element and mount the vertical AOD element into the vertical slot. We repeat same alignments as before.

#### Vertical Slot

In [89]:
data = []

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[90e6, 110e6], duration=26.84e-3, amplitude=A*np.ones(1024), nodwells=[False, True])

    data.append((A, scope.capture()))

data_to_hdf(os.path.join(datadir, 'unpaired-amplitude.h5'), 'vertical_element_vertical_socket', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.000394,0.093515,0.110251,0.110251,0.110251,0.110251,0.126987,0.143724,0.143724,0.143724,...,0.57887,0.562134,0.578870,0.595607,0.595607,0.595607,0.612343,0.629079,0.629079,0.629079
1,-0.000393,0.093515,0.093515,0.093515,0.110251,0.126987,0.126987,0.143724,0.126987,0.177197,...,0.57887,0.578870,0.562134,0.595607,0.612343,0.612343,0.629079,0.629079,0.612343,0.612343
2,-0.000393,0.076778,0.093515,0.093515,0.110251,0.110251,0.126987,0.160460,0.160460,0.160460,...,0.57887,0.578870,0.562134,0.595607,0.595607,0.612343,0.612343,0.612343,0.612343,0.629079
3,-0.000392,0.076778,0.093515,0.110251,0.126987,0.093515,0.126987,0.143724,0.143724,0.160460,...,0.57887,0.562134,0.578870,0.612343,0.612343,0.612343,0.629079,0.629079,0.612343,0.612343
4,-0.000392,0.076778,0.060042,0.093515,0.110251,0.110251,0.126987,0.143724,0.143724,0.177197,...,0.57887,0.562134,0.595607,0.595607,0.612343,0.612343,0.629079,0.629079,0.629079,0.645816

#### Horizontal Slot

Vertical AOD is now placed into the horizontal slot and calibrations steps are repeated as before.

In [98]:
data = []

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[90e6, 110e6], duration=26.84e-3, amplitude=A*np.ones(1024), nodwells=[False, True])

    data.append((A, scope.capture()))

data_to_hdf(os.path.join(datadir, 'unpaired-amplitude.h5'), 'vertical_element_horizontal_socket', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.000394,0.029448,0.029448,0.040828,0.040828,0.052209,0.063590,0.052209,0.074971,0.074971,...,0.757816,0.803339,0.848862,0.883004,0.917146,0.951289,1.008192,1.030954,1.053715,1.076477
1,-0.000393,0.040828,0.040828,0.040828,0.040828,0.052209,0.063590,0.063590,0.052209,0.074971,...,0.780577,0.803339,0.860243,0.883004,0.917146,0.962669,0.996812,1.019573,1.053715,1.087858
2,-0.000393,0.018067,0.029448,0.018067,0.052209,0.052209,0.040828,0.063590,0.074971,0.063590,...,0.746435,0.803339,0.848862,0.894385,0.939908,0.951289,1.008192,1.042335,1.065096,1.087858
3,-0.000392,0.029448,0.040828,0.052209,0.040828,0.029448,0.063590,0.052209,0.074971,0.063590,...,0.769197,0.803339,0.860243,0.883004,0.939908,0.951289,1.008192,1.042335,1.042335,1.065096
4,-0.000392,0.040828,0.029448,0.052209,0.029448,0.052209,0.052209,0.052209,0.063590,0.063590,...,0.757816,0.791958,0.871623,0.894385,0.939908,0.974050,0.996812,1.030954,1.053715,1.087858

## Paired

The following constellations consider both AODs mounted and in use.

### Exchanged

Horizontal AOD is in vertical slot and feeded with vertical signal. Vertical AOD is in horizontal slot and feeded with horizontal signal. Because of weak signal photodiode is set to 70dB.

#### Sweep at different Frequencies

We apply a constant frequency to the vertical AOD and then sweep the horizontal AOD, whichafter we increase the frequency of the vertical AOD by 0.1MHz. This is done until the vertical AOD frequency reaches 110MHz.

In [32]:
data = []

control.aod_h(frequency=[80e6, 120e6], duration=260e-3, amplitude=1, nodwells=[False, True])

for f_v in np.arange(80e6, 120e6+2e5, 2e5):
    control.aod_v(frequency=f_v)

    data.append((f_v, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'exchanged-frequency.h5'), 'vsweep', data).head(5)

,time,voltage@80000000.00,voltage@80200000.00,voltage@80400000.00,voltage@80600000.00,voltage@80800000.00,voltage@81000000.00,voltage@81200000.00,voltage@81400000.00,voltage@81600000.00,...,voltage@118200000.00,voltage@118400000.00,voltage@118600000.00,voltage@118800000.00,voltage@119000000.00,voltage@119200000.00,voltage@119400000.00,voltage@119600000.00,voltage@119800000.00,voltage@120000000.00
0,-0.004641,0.031058,0.031058,0.040095,0.037083,0.040095,0.037083,0.040095,0.037083,0.043108,...,0.106371,0.106371,0.106371,0.100346,0.100346,0.097334,0.094321,0.097334,0.094321,0.091309
1,-0.004641,0.034070,0.037083,0.040095,0.040095,0.037083,0.037083,0.037083,0.037083,0.037083,...,0.109384,0.106371,0.106371,0.100346,0.100346,0.103359,0.094321,0.094321,0.091309,0.091309
2,-0.004641,0.040095,0.037083,0.037083,0.034070,0.037083,0.040095,0.037083,0.040095,0.037083,...,0.109384,0.106371,0.100346,0.103359,0.103359,0.100346,0.097334,0.097334,0.091309,0.088296
3,-0.004641,0.037083,0.040095,0.037083,0.037083,0.034070,0.037083,0.040095,0.040095,0.040095,...,0.112396,0.109384,0.106371,0.103359,0.100346,0.100346,0.097334,0.091309,0.097334,0.088296
4,-0.004641,0.034070,0.034070,0.037083,0.040095,0.034070,0.037083,0.034070,0.037083,0.037083,...,0.109384,0.106371,0.103359,0.103359,0.097334,0.100346,0.094321,0.094321,0.091309,0.094321

Now we apply a constant frequency to the AOD in the horizontal slot and sweep the frequency of the AOD in the vertical slot, whichafter the frequency of the AOD in the horizontal slot is increased by 0.1 MHz.

In [37]:
data = []

control.aod_v(frequency=[80e6, 120e6], duration=260e-3, amplitude=1, nodwells=[False, True])

for f_h in np.arange(80e6, 120e6+2e5, 2e5):
    control.aod_h(frequency=f_h)

    data.append((f_h, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'exchanged-frequency.h5'), 'hsweep', data).head(5)

,time,voltage@80000000.00,voltage@80200000.00,voltage@80400000.00,voltage@80600000.00,voltage@80800000.00,voltage@81000000.00,voltage@81200000.00,voltage@81400000.00,voltage@81600000.00,...,voltage@118200000.00,voltage@118400000.00,voltage@118600000.00,voltage@118800000.00,voltage@119000000.00,voltage@119200000.00,voltage@119400000.00,voltage@119600000.00,voltage@119800000.00,voltage@120000000.00
0,-0.004641,0.034277,0.034277,0.037959,0.041641,0.041641,0.045323,0.049005,0.045323,0.049005,...,0.041641,0.041641,0.045323,0.045323,0.045323,0.045323,0.041641,0.045323,0.041641,0.041641
1,-0.004641,0.037959,0.037959,0.037959,0.037959,0.037959,0.041641,0.045323,0.045323,0.045323,...,0.041641,0.045323,0.045323,0.041641,0.041641,0.041641,0.045323,0.045323,0.041641,0.041641
2,-0.004641,0.041641,0.037959,0.037959,0.041641,0.041641,0.045323,0.041641,0.045323,0.049005,...,0.041641,0.049005,0.045323,0.041641,0.045323,0.041641,0.045323,0.045323,0.041641,0.041641
3,-0.004641,0.041641,0.037959,0.037959,0.045323,0.045323,0.045323,0.045323,0.045323,0.045323,...,0.045323,0.045323,0.041641,0.041641,0.041641,0.041641,0.049005,0.045323,0.045323,0.041641
4,-0.004641,0.037959,0.037959,0.037959,0.041641,0.045323,0.045323,0.045323,0.049005,0.045323,...,0.045323,0.045323,0.045323,0.041641,0.041641,0.045323,0.045323,0.041641,0.049005,0.041641

#### Sweep at different Amplitudes

Finally we want take set one AOD to the center frequency of 100 MHz and while the other AOD sweeps from 90 to 110 MHz at different amplitude values. This we can compare to the results obtained with only a single AOD mounted. We start with the horizontal AOD being fixed at 100 MHz.

In [38]:
data = []

control.aod_h(frequency=100e6)

for A in np.arange(0.2, 1.02, .02):
    control.aod_v(frequency=[80e6, 120e6], duration=260e-3, amplitude=A, nodwells=[False, True])

    data.append((A, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'exchanged-amplitude.h5'), 'vsweep', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.004641,0.152101,0.130009,0.115281,0.107917,0.107917,0.111599,0.111599,0.107917,0.104235,...,0.115281,0.115281,0.118963,0.118963,0.118963,0.115281,0.115281,0.122645,0.118963,0.115281
1,-0.004641,0.152101,0.133691,0.111599,0.111599,0.107917,0.107917,0.107917,0.107917,0.104235,...,0.118963,0.122645,0.115281,0.115281,0.122645,0.118963,0.122645,0.122645,0.122645,0.118963
2,-0.004641,0.155783,0.130009,0.118963,0.111599,0.111599,0.115281,0.111599,0.104235,0.100553,...,0.118963,0.115281,0.118963,0.118963,0.118963,0.115281,0.118963,0.118963,0.118963,0.118963
3,-0.004641,0.155783,0.130009,0.111599,0.111599,0.107917,0.111599,0.111599,0.100553,0.100553,...,0.118963,0.118963,0.118963,0.118963,0.118963,0.118963,0.118963,0.118963,0.118963,0.115281
4,-0.004641,0.148419,0.130009,0.115281,0.111599,0.107917,0.111599,0.107917,0.100553,0.104235,...,0.118963,0.115281,0.122645,0.115281,0.122645,0.118963,0.118963,0.115281,0.118963,0.118963

Now the AOD in the vertical slot is fixed at 100 MHz and we sweep the AOD in the horizontal slot at different amplitude values.

In [39]:
data = []

control.aod_v(frequency=100e6)

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[80e6, 120e6], duration=260e-3, amplitude=A, nodwells=[False, True])

    data.append((A, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'exchanged-amplitude.h5'), 'hsweep', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.004641,0.100553,0.093189,0.096871,0.093189,0.093189,0.089507,0.085825,0.089507,0.082143,...,0.074779,0.074779,0.074779,0.071097,0.074779,0.074779,0.067415,0.074779,0.071097,0.078461
1,-0.004641,0.096871,0.096871,0.093189,0.089507,0.093189,0.089507,0.085825,0.089507,0.085825,...,0.078461,0.071097,0.078461,0.074779,0.074779,0.074779,0.078461,0.078461,0.071097,0.078461
2,-0.004641,0.096871,0.089507,0.096871,0.093189,0.089507,0.089507,0.089507,0.089507,0.085825,...,0.071097,0.078461,0.078461,0.074779,0.074779,0.074779,0.074779,0.074779,0.074779,0.071097
3,-0.004641,0.096871,0.093189,0.093189,0.093189,0.093189,0.089507,0.089507,0.085825,0.082143,...,0.074779,0.074779,0.074779,0.071097,0.071097,0.078461,0.074779,0.071097,0.074779,0.074779
4,-0.004641,0.100553,0.093189,0.093189,0.089507,0.089507,0.089507,0.093189,0.085825,0.089507,...,0.071097,0.074779,0.074779,0.071097,0.074779,0.074779,0.071097,0.071097,0.071097,0.071097

### Anticipated

The AOD elements are now again exchanged in their anticipated slots and we repeat the previous measurements for this constellation with the photodiode set back to 50 dB.

#### Sweeps at different Amplitudes

In [13]:
data = []

control.aod_h(frequency=100e6)

for A in np.arange(0.2, 1.02, .02):
    control.aod_v(frequency=[80e6, 120e6], duration=260e-3, amplitude=A, nodwells=[False, True])

    data.append((A, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'anticipated-amplitude.h5'), 'vsweep', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.004641,0.702168,0.881583,1.016143,1.173131,1.352545,1.509532,1.711373,1.868361,2.092629,...,4.447440,4.425014,4.469867,4.44744,4.469867,4.469867,4.447440,4.447440,4.447440,4.469867
1,-0.004641,0.747022,0.881583,1.016143,1.173131,1.330118,1.531959,1.666520,1.890788,2.070202,...,4.469867,4.469867,4.469867,4.44744,4.425014,4.447440,4.425014,4.469867,4.425014,4.425014
2,-0.004641,0.747022,0.859156,1.016143,1.173131,1.307691,1.509532,1.688947,1.913214,2.070202,...,4.447440,4.469867,4.469867,4.44744,4.469867,4.447440,4.425014,4.469867,4.402587,4.447440
3,-0.004641,0.724595,0.859156,1.016143,1.173131,1.352545,1.531959,1.711373,1.868361,2.047775,...,4.469867,4.447440,4.469867,4.44744,4.425014,4.425014,4.469867,4.469867,4.402587,4.447440
4,-0.004641,0.747022,0.859156,1.016143,1.195558,1.330118,1.509532,1.711373,1.868361,2.070202,...,4.447440,4.447440,4.469867,4.44744,4.469867,4.447440,4.469867,4.447440,4.425014,4.469867

In [14]:
data = []

control.aod_v(frequency=100e6)

for A in np.arange(0.2, 1.02, .02):
    control.aod_h(frequency=[80e6, 120e6], duration=260e-3, amplitude=A, nodwells=[False, True])

    data.append((A, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'anticipated-amplitude.h5'), 'hsweep', data).head(5)

,time,voltage@0.20,voltage@0.22,voltage@0.24,voltage@0.26,voltage@0.28,voltage@0.30,voltage@0.32,voltage@0.34,voltage@0.36,...,voltage@0.82,voltage@0.84,voltage@0.86,voltage@0.88,voltage@0.90,voltage@0.92,voltage@0.94,voltage@0.96,voltage@0.98,voltage@1.00
0,-0.004641,0.455474,0.634888,0.679742,0.791876,0.881583,0.971290,1.083424,1.217984,1.307691,...,2.092629,2.025348,2.002922,1.958068,1.913214,1.935641,1.958068,1.958068,1.980495,2.002922
1,-0.004641,0.455474,0.657315,0.679742,0.769449,0.904009,0.948863,1.060997,1.195558,1.330118,...,2.070202,2.002922,2.002922,1.958068,1.935641,1.958068,1.935641,1.958068,1.980495,1.980495
2,-0.004641,0.433047,0.679742,0.724595,0.747022,0.881583,0.971290,1.083424,1.195558,1.330118,...,2.070202,2.025348,2.002922,1.935641,1.913214,1.935641,1.980495,1.935641,1.958068,2.002922
3,-0.004641,0.455474,0.657315,0.702168,0.791876,0.859156,0.948863,1.083424,1.240411,1.330118,...,2.070202,2.002922,1.980495,1.958068,1.913214,1.935641,1.935641,1.935641,1.980495,1.980495
4,-0.004641,0.477901,0.657315,0.724595,0.769449,0.859156,0.971290,1.060997,1.240411,1.307691,...,2.070202,2.002922,2.002922,1.958068,1.913214,1.935641,1.958068,1.913214,1.980495,1.980495

#### Sweep at different Frequencies

In [15]:
data = []

control.aod_v(frequency=[80e6, 120e6], duration=260e-3, amplitude=1, nodwells=[False, True])

for f_h in np.arange(80e6, 120e6+2e5, 2e5):
    control.aod_h(frequency=f_h)

    data.append((f_h, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'anticipated-frequency.h5'), 'hsweep', data).head(5)

,time,voltage@80000000.00,voltage@80200000.00,voltage@80400000.00,voltage@80600000.00,voltage@80800000.00,voltage@81000000.00,voltage@81200000.00,voltage@81400000.00,voltage@81600000.00,...,voltage@118200000.00,voltage@118400000.00,voltage@118600000.00,voltage@118800000.00,voltage@119000000.00,voltage@119200000.00,voltage@119400000.00,voltage@119600000.00,voltage@119800000.00,voltage@120000000.00
0,-0.004641,0.836729,0.904009,0.926436,0.993717,1.083424,1.150704,1.217984,1.240411,1.330118,...,2.899993,2.787859,2.743005,2.653298,2.541164,2.451457,2.339323,2.272043,2.182336,2.092629
1,-0.004641,0.836729,0.926436,0.948863,1.016143,1.083424,1.173131,1.217984,1.217984,1.307691,...,2.855139,2.787859,2.720578,2.630871,2.563591,2.451457,2.384177,2.272043,2.182336,2.047775
2,-0.004641,0.859156,0.904009,0.971290,0.993717,1.083424,1.150704,1.217984,1.240411,1.307691,...,2.877566,2.787859,2.765432,2.630871,2.586018,2.451457,2.361750,2.272043,2.159909,2.115055
3,-0.004641,0.881583,0.904009,0.971290,0.993717,1.083424,1.128277,1.173131,1.240411,1.307691,...,2.899993,2.787859,2.743005,2.630871,2.563591,2.473884,2.384177,2.249616,2.137482,2.092629
4,-0.004641,0.859156,0.859156,0.971290,0.993717,1.083424,1.150704,1.173131,1.217984,1.285265,...,2.877566,2.765432,2.720578,2.630871,2.586018,2.496311,2.361750,2.294470,2.204763,2.092629

In [16]:
data = []

control.aod_h(frequency=[80e6, 120e6], duration=260e-3, amplitude=1, nodwells=[False, True])

for f_v in np.arange(80e6, 120e6+2e5, 2e5):
    control.aod_v(frequency=f_v)

    data.append((f_v, scope.capture()))
    
data_to_hdf(os.path.join(datadir, 'anticipated-frequency.h5'), 'vsweep', data).head(5)

,time,voltage@80000000.00,voltage@80200000.00,voltage@80400000.00,voltage@80600000.00,voltage@80800000.00,voltage@81000000.00,voltage@81200000.00,voltage@81400000.00,voltage@81600000.00,...,voltage@118200000.00,voltage@118400000.00,voltage@118600000.00,voltage@118800000.00,voltage@119000000.00,voltage@119200000.00,voltage@119400000.00,voltage@119600000.00,voltage@119800000.00,voltage@120000000.00
0,-0.004641,0.747022,0.769449,0.859156,0.948863,1.016143,1.128277,1.150704,1.217984,1.285265,...,2.159909,2.070202,2.025348,1.958068,1.890788,1.868361,1.778654,1.711373,1.666520,1.666520
1,-0.004641,0.747022,0.791876,0.904009,0.948863,1.038570,1.105850,1.173131,1.240411,1.262838,...,2.137482,2.070202,2.025348,2.002922,1.913214,1.845934,1.778654,1.756227,1.688947,1.644093
2,-0.004641,0.769449,0.814302,0.881583,0.926436,1.016143,1.105850,1.173131,1.240411,1.307691,...,2.115055,2.070202,2.025348,1.980495,1.890788,1.823507,1.801081,1.733800,1.688947,1.644093
3,-0.004641,0.747022,0.769449,0.926436,0.971290,1.016143,1.105850,1.173131,1.240411,1.307691,...,2.137482,2.070202,2.025348,1.958068,1.913214,1.845934,1.823507,1.756227,1.711373,1.666520
4,-0.004641,0.724595,0.791876,0.881583,0.948863,1.016143,1.128277,1.173131,1.240411,1.307691,...,2.137482,2.092629,2.002922,1.980495,1.890788,1.868361,1.778654,1.733800,1.711373,1.666520

## Random sampling

In [24]:
filename = os.path.join(datadir, 'anticipated-random.csv')

if not os.path.exists(filename):
    with open(filename, 'w') as file:
        file.write('hfrequency,vfrequency,voltage\n')

with open(filename, 'a', 1) as file:
    while True:
        fh, fv = np.random.uniform(80e6, 120e6, 2)

        control.aod_h(frequency=fh, amplitude=1)
        control.aod_v(frequency=fv, amplitude=1)

        U = scope.capture().voltage.mean()
    
        file.write(f'{fh},{fv},{U}\n')

KeyboardInterrupt:

In [6]:
scope.close()